@import '../../../app/style.module.scss';

.product {
  .productTitle {
    margin-top: 8px;
  }

  .productImageWrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  .productImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid var(--border-color-image);
  }

  .productImage[src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"] {
    object-position: -131px;
  }

  .productImage[src="https://i.dummyjson.com/data/products/8/thumbnail.jpg"] {
    object-position: -23px;
  }

  .productPrice {
    line-height: 28px;
    font-weight: var(--font-weight-bold);
    color: var(--product-price-color);
  }
}

@media screen and (max-width: 768px) {
  .product {
    .productTitle {
      font-size: 14px;
      margin-top: 9px;
    }

    .productPrice {
      line-height: 26px;
    }

    .productImage[src="https://i.dummyjson.com/data/products/1/thumbnail.jpg"] {
      object-position: -125px;
    }
  }
}